<footer class="border-top border-2">
  <div class="my-3 pe-5 text-end position-relative">
    <div class="position-absolute top-50 start-50 translate-middle">
      Nicolás Órdenes &#169 2022
    </div>
    <a class="fs-4 link-dark" href='https://github.com/nico-or/'>
      <i class="bi bi-github"></i>
    </a>
  </div>

</footer>
