<h1>Events</h1>

<div class="row gy-3">
  <% if @events.empty? %>
  <p>There aren't any events yet.
    <%= link_to 'Create Event', new_event_path, class: "btn btn-success" %>
  </p>
  <% else %>
    <%= render partial: 'card', collection: @events, as: :event %>
  <% end %>
</div>
